@font-face {
  font-family: 'TT Trick New Bold';
  src: url('../../public/fonts/TT Tricks Trial ExtraBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.navbar-links li {
  margin: 0;
}

.navbar-links li p {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'TT Trick New Bold', sans-serif;
  letter-spacing: 1px;
}

.logo-image {
  height: 50px;
  width: auto;
  transition: scale 0.3s ease;
}